.terraform/
**/.terraform/*

*.tfstate
*.tfstate.*

*.tfvars
*.tfvars.json

crash.log
crash.*.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

.env
.env.*
devops-microservices-key.pem

.DS_Store
Thumbs.db

.vscode/
.idea/

*.logk8s/secrets.yaml
