.terraform/
**/.terraform/*

*.tfstate
*.tfstate.*

*.tfvars
*.tfvars.json

crash.log
crash.*.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

.env
.env.*

.DS_Store
Thumbs.db

.vscode/
.idea/

*.log