.terraform/
**/.terraform/*

*.tfstate
*.tfstate.*

*.tfvars
*.tfvars.json

crash.log
crash.*.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

node_modules
dist
.env
.env.local
.env.development
!.env.production

devops-microservices-key.pem
build-and-push.sh

.DS_Store
Thumbs.db

.vscode/
.idea/

*.logk8s/secrets.yaml
k8s/secrets.yaml
*.pem
secrets.yaml
k8s/secrets.yaml
